*{
    font-family: 'jetBrains Mono';
    color: #191922;
}
h2{
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    margin: 8% auto auto auto;
}
table{
    background-color: aliceblue;
    margin: 2% auto auto auto;
    border-radius: 10px;
}

th, button{
    height: 50px;
    width: 50px;
    font-size: 25px;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(223, 223, 223);
}
th{
    background-color: antiquewhite;
    text-align: end;
    padding-inline-end: 15px;
}
button{
    text-align: center;
    border: none;
}
button:hover{
    background-color: honeydew;
    transition: 0.3s;
}
#reset{
    background-color: rgb(255, 156, 156);
    box-shadow: 5px 5px 5px rgb(223, 223, 223);
}
#reset:hover{
    background-color: rgb(252, 106, 106);
    transition: 0.3s;
}